#audio-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: black;
	border: 2px solid var(--border-color);
	border-radius: 50%;
	color: var(--text-color);
	cursor: pointer;
	z-index: 100;

	transition: background 0.2s, transform 0.1s;
}

#audio-btn:hover {
	background: rgba(0, 0, 0, 0.8);
	transform: scale(1.1);
}

#audio-btn img {
	width: 24px;
	height: 24px;
	display: block;
}