.invitation-container {
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-wrap: balance;
}

.invitation {
	font-size: max(4vh, 4vw);
	font-size: min(6vh, 8vw);
	text-transform: uppercase;
	line-height: 1.1;
	margin: 0 40px 40px 30px;
}

.time {
	font-size: max(2vw, 20px);
	text-align: left;
}

.highlight {
	color: var(--highlight-color);
	font-weight: bold;
}