.logo-container {
	position: relative;
	width: 100%;
	height: 25vh;
	min-height: 25vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-top: 2px solid var(--border-color);
	border-bottom: 2px solid var(--border-color);
}

.logo-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 50%;
	z-index: -1;
}

.logo {
	position: absolute;
	font-family: 'Anton', sans-serif;
	font-weight: bold;
	-webkit-mask-image: url("../assets/grunge_mask_inv.png");
	mask-image: url("../assets/grunge_mask_inv.png");
	-webkit-mask-size: cover;
	mask-size: cover;
	-webkit-mask-position: bottom 50%;
	mask-position: bottom 50%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

#logo-back {
	font-size: 20vh;
	letter-spacing: 8px;
	color: var(--logonumber-color);
}

#logo-front {
	font-size: 10vh;
	letter-spacing: 2px;
	color: var(--logotext-color);
}