.timer-container {
	width: 100%;
	height: 20vh;
	min-height: 20vh;
}

.timer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
}

.box {
	width: min(150px, 20vw);
	height: min(25vw, calc(100% - 20px - var(--border-thickness) * 2));
	background: black;
	border: 2px solid var(--border-color);
	border-left: none;
	padding: 10px 1vw;
}

.box:first-child {
	border-left: 2px solid var(--border-color);
}

.label {
	height: 20%;
	font-size: min(3vw, 3vh);
	letter-spacing: 1px;
	margin: 0;
}

.value {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	font-size: min(10vw, 10vh);
	font-weight: bold;
	margin: 0;
}