#lightning-flash {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    pointer-events: none;
    inset: 0;
    background: white;
    opacity: 0;
    mix-blend-mode: overlay;
    transition: opacity 0.2s ease-out;
    z-index: 5;
}